@model AutoVentasHiken.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
	<hr />
    <dl class="dl-horizontal">
        @if (Model.archivos.Any(arch => arch.tipo == AutoVentasHiken.Models.FileType.Imagen)) 
        {
            <dt>
                Imagen
            </dt>
            <dd>
                <img width="128" height="128" src="~/Archivo/ObtenerArchivo?id=@Model.archivos.First(f => f.tipo == AutoVentasHiken.Models.FileType.Imagen).id_Archivo" alt="imagen" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.rol.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compararContraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compararContraseña)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
